{% load i18n %}
{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-wallet</title>
    {% progressive_web_app_meta %}
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
