{% load i18n %}
{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block head_title %}
      {% endblock head_title %}
    </title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    {% block extra_head %}
    {% endblock extra_head %}
    {% progressive_web_app_meta %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-neutral-100 h-screen">
    <header class="border-orange-200 border-b-2 flex text-neutral-700 font-sans font-bold px-4 py-3 bg-linear-to-b from-orange-300 to-amber-200">
      <h1 class="text-3xl">
        {% block header %}
        {% endblock header %}
      </h1>
    </header>
    <main class="p-4 h-full">
      {% block body %}
        {% block content %}
        {% endblock content %}
      {% endblock body %}
    </main>
    {% if request.user.is_authenticated %}
      {% include "partials/nav.html" %}
    {% endif %}
    {% block extra_body %}
    {% endblock extra_body %}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  </body>
</html>
